@mixin flex(  $align-items:flex-start , $justify-content:flex-start ,$gap:0, $dir:row) {
    display: flex;
    flex-direction: $dir;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
}

@mixin pseudo($width , $height, $top , $right , $bottom , $left, $bg) {
    content: '';
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-color: $bg;
}