@import 'vars','reset','global','mixins';

body{ 
    text-align: center;
}

.header{ 
    padding: 1.5rem;

    &__nav{ 
        @include flex(center ,space-between , 1.5rem);
        
        &__logo { 
            padding-block-start: .5rem
        }

        &__links{ 
           flex: 1;
           color: $Grayish-Violet;
           transform: translateY(-500%);
           transition: transform 750ms ease-out;
            position: absolute;
           
           // JAVASCRIPT CLASS
            &.open{ 
                transform: translateY(0);
                position: absolute;
                background-color: $dark-violet;
                color: white;
                top: 5rem;
                right: 1rem;
                left: 1rem;
                padding-block: 1.75rem;
                border-radius: 10px;
                li{ 
                    margin-block-end: 1.5rem;

                    a:hover{ 
                        color: white;
                        opacity: 0.75;
                    }
                }
            }


           a{ 
               transition: 300ms;

               &:hover{ 
                   color: $Very-Dark-Blue;
               }
           }

           li:nth-last-child(2){ 
               margin-left: auto;
           }
        }
    }
}

.hero{ 
    padding-block: 2rem;
    padding-block-end: 5rem;
}

.content{ 
    margin-block: 2rem;
}

main{ 
    margin-block-start: 4rem;
    background-color: lighten($Gray, 20%);
    padding-bottom: 3rem;

    .container{ 
        width: 100%;
        max-width: 95rem;
        margin-inline: auto;
    }
}

.shorten{ 
    form{ 
        transform: translateY(calc(-50% - 1.5rem));
        border-radius: 10px;
        padding-block: 3rem;
        padding-inline: 1.5rem;
        background-color: $dark-violet;
        @include flex(stretch, center , 1rem , column);
        position: relative;
  
        .link{ 
            padding-block: 1rem;
            padding-inline-start: 0.5em;
            font: inherit;
            border-radius: 10px;
        }

        .error{ 
            color: $red;
            position: absolute;
            bottom: 1rem;
            left: 1.75rem;
        }
    }

    .links-container{ 
        margin-block-start: -2rem;
        margin-block-end: 5.75rem;

        .result{ 
            border: 3px solid #eee;
            background-color: #fff;
            border-radius: 10px;
            margin-block-end: 1rem;
            padding-block:1rem ;
            padding-inline: 1.5rem;
            @include flex(stretch , flex-start , 2rem , column);
            
            .url{ 
                color: $dark-violet;
                padding-block-end: 1rem;
                position: relative;
                word-break: break-word;
                
                &::after{ 
                    @include pseudo(calc(100% + 3rem) , 3px , 100% , 1.5rem , 0 , -1.5rem , #eee)
                }
    
            }

            .url--shortend{ 
                word-break: break-word;
                margin-inline: 2rem;
                color: $cyan;
            }
        }


    }
}

.stats{ 
    text-align: center;

    .details{ 
        margin-inline: auto;
    }

}

.boost{ 
    padding-block: 3rem;
    padding-inline: 1.5rem;
    color: white;
    text-align: center;
    background-color: $dark-violet;
}

.cards{ 
    margin-block-start: 4rem;

    .card{ 
        background-color: white;
        padding-block: 3rem;
        padding-inline: 1rem;
        margin-block: 4rem;
        position: relative;
        border-radius: 10px;
        position: relative;

        &:not(:last-child)::after{ 
            @include pseudo(0.75rem , 3rem , initial , initial , 0 , 50% , $cyan);
            transform: translate(-50% , 100%);
        }

        img{ 
            --size:3.5rem;
            width: var(--size);
            height: var(--size);
            position: absolute;
            inset: 0 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
            padding: .5rem;
            background-color: $dark-violet;
        }

        &__details{ 
            max-width: 50ch;
            margin-block-start: 0.5rem;
            margin-block-end: 0;
        }
    }
}

footer{ 
    background-color: $Very-Dark-Violet;
    color: white;

    .container div{ 
        margin-block: 3rem;

        h4{ 
            font-size: calc(var(--size) * 0.75rem);
        }

        ul{ 
            color: $Gray;
            margin-block: 1.5rem;
            li{ 
                margin-block-end: 1rem;
                a{ 
                    transition: 300ms;
                    
                    &:hover{
                        color: $cyan;
                    }
                }
            }
        }
    }

    .logo svg path{ 
        fill: #fff;
    }

    .social ul{ 
        @include flex(center, center , 1rem );

        svg:hover { 
            path{ 
                fill: $cyan;
            }
        }
    }
}


@media(min-width:860px){ 
    :root{ 
        --space:8.5rem;
    }

    .header{ 
        padding-inline:var(--space);

        &__nav{ 
            &__links{ 
                @include flex(center , center , 1rem);
                flex: 1;
                transform: translateY(0);
                position: static;
            }
    
            .hamburger{ 
                display: none;
            }
        } 
    
    }

    .container:not(footer .container){ 
        text-align: left;
        padding-inline:var(--space);
    }

    .details{ 
        margin-inline: initial;
    }

    .hero .container{ 
        @include flex(center, center , 1rem);
    }

    .shorten{ 
        form{ 
            @include flex(center, center, 1rem,row );
            .link{ 
                flex: 1;
            }
            .btn{ 
                padding-block: 1rem;
            }
        }

        .links-container { 
            .result{ 
                @include flex(center , flex-start , initial , row);

                .url{ 
                    flex: 1;
                    padding-block-end: 0;

                    &::after{ 
                        display: none;
                    }
                }
            }
        }
    }

    .boost{ 
        padding-block: 3rem;

        .heading{ 
            font-size: 3rem;
            margin-block-end: 2rem;
        }
    }
}

@media(min-width:980px){ 
    
    .cards{ 
        text-align: left;
        display: flex;
        gap: 2.5rem;
        --offset: 10;

        .card{ 
            padding-inline: 2rem;
            &__details{ 
                margin-inline: initial;
            }

            &:not(:last-child)::after{ 
                @include pseudo(0.75rem , 3rem , 50% , 0 , initial , initial , $cyan);
                transform: translate(2rem , -50%) rotate(90deg);
            }

            img{ 
                inset: 0 15%;
            }

            &:nth-child(2){ 
                transform: translateY( calc(var(--offset) * 1.5%) );
            }
            &:nth-child(3){ 
                transform: translateY( calc(var(--offset) * 3%) );
            }
        }
    }

    footer .container{ 
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 2fr repeat(4,1fr );

        .logo{ 
            padding-block-start: 3rem;
        }

        .social ul{ 
            margin-block: 0;
        }
    }
}